# Local configuration file (sdk path, etc)
/local.properties

/.idea/modules.xml
.DS_Store
/captures

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Gradle files
.gradle/
build/

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea

#Google Services
/app/google-services.json
